<ion-content>
    <ion-grid *ngIf="datas">
        <ion-button [disabled]="!form.valid" (click)="sendOrder()">Send Order</ion-button>
        <ion-card *ngFor="let cat of datas">
          <ion-card-subtitle>{{cat.title}}</ion-card-subtitle>
          <ion-row>
            <ion-col *ngFor="let recipe of cat.recipes" (cion-colck)="addRecipe(recipe)">
              <ion-img *ngIf="recipe.imageUrl; else displayPlaceholderImg" [src]="recipe.imageUrl" alt="{{recipe.title}}"></ion-img>
              <ng-template #displayPlaceholderImg>
                <ion-thumbnail class="placeholderImg"></ion-thumbnail>
              </ng-template>
              <ion-card-title>{{recipe.title}}</ion-card-title>
              <ion-card>
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>{{recipe.price}}</ion-label>
                  <ion-button fill="outline" slot="end">View</ion-button>
                </ion-item>
              
                <ion-card-content>
                 {{recipe.description}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
     
</ion-content>
