<section>
    <header></header>
    <h1>Resto</h1>
    <div class="container">
        <div class="row  col-6">
            <tr *ngFor="let data of datas" >
             
             <td><button class="btn btn-"><td>{{data.title}}</td></button></td>

            </tr>

        </div>
    </div>
</section>
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourites Food</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let data of datas">
            <div class="foodbox">
                <h1>{{data.title}}</h1>
                <p>{{data.title}}</p>
                <div *ngFor="let recipe of data.recipes">
                    {{recipe.title}}
                    <img src="{{recipe.imageUrl}}">
                </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>